<div class="container home-settings my-5">
  <h2 class="text-lg-start text-md-center text-light">|Watchlist's favorites</h2>
  <div class="d-flex row pt-5 text-center text-light">
    <div class="col-lg-3 text-center">
      <img class="poster-home-settings" src="https://m.media-amazon.com/images/M/MV5BNTM0YTBlMjctZjJjZS00MDU4LTg5YmQtMDY5Y2FhMWZiMjQ2XkEyXkFqcGdeQXVyNzU0NzQxNTE@._V1_SX300.jpg">
      <h3>Ferrari</h3>
    </div>
    <div class="col-lg-3">
      <img class="poster-home-settings" src="https://m.media-amazon.com/images/M/MV5BYWJkY2Q4NmYtOGRlMi00YTg5LWE2ZmQtY2NkYzk3YTRmNWZlXkEyXkFqcGdeQXVyMTY3ODkyNDkz._V1_SX300.jpg">
      <h3>Madame Teia</h3>
    </div>
    <div class="col-lg-3">
      <img class="poster-home-settings" src="https://m.media-amazon.com/images/M/MV5BYzRmOGQwZjktYjM2Ni00M2NmLWFlZDYtZGFhM2RkM2VhZDI1XkEyXkFqcGdeQXVyMTM1NjM2ODg1._V1_SX300.jpg">
      <h3>Zone de Interesse</h3>
    </div>
    <div class="col-lg-3">
      <img class="poster-home-settings" src="https://m.media-amazon.com/images/M/MV5BNGIyYWMzNjktNDE3MC00YWQyLWEyMmEtN2ZmNzZhZDk3NGJlXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_SX300.jpg">
      <h3>Pobres Criaturas</h3>
    </div>
  </div>
</div>
