<div class="d-flex align-items-center vh-100 login-settings">
  <div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card bg-dark text-light rounded-4">
                <div class="card-body py-4">
                    <h4 class="card-title text-center mb-4">Sign in</h4>
                    <app-alert *ngIf="showAlert"></app-alert>
                    <form [formGroup]="signInForm" (ngSubmit)="onSubmitSignIn()">
                        <div class="mb-3">
                            <label for="login-username" class="form-label">Email</label>
                            <input id="signInEmail" type="text" class="form-control" name="email" placeholder="Enter email" formControlName="email">
                            <div class="my-3">
                              <small *ngIf="signInForm.get('email')?.touched && signInForm.get('email')?.hasError('required')">Email is a required field</small>
                            </div>
                            <div class="my-3">
                              <small *ngIf="signInForm.get('email')?.hasError('email')">Email format is not valid</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="login-password" class="form-label">Password</label>
                            <input id="registerPassword" type="password" class="form-control" name="password" placeholder="Enter password" formControlName="password" >
                            <div class="my-3">
                              <small *ngIf="signInForm.get('password')?.touched && signInForm.get('password')?.hasError('required')">Password is a required field</small>
                            </div>
                        </div>
                        <div class="d-grid pt-3">
                            <button type="submit" class="btn btn-success" [disabled]="!signInForm.valid">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card bg-dark text-light rounded-4">
                <div class="card-body py-4">
                    <h4 class="card-title text-center mb-4">Create Account</h4>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">
                        <div class="mb-3">
                            <label for="register-first-name" class="form-label">Your Name</label>
                            <input id="name" type="text" class="form-control" name="name" placeholder="Enter first and last name" formControlName="name">
                            <div class="my-3">
                              <small *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.hasError('required')">Name is a required field</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="register-email" class="form-label">Email</label>
                            <input id="registerEmail" type="email" class="form-control" name="email" placeholder="Enter email" formControlName="email">
                            <div class="my-3">
                              <small *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.hasError('required')">Email is a required field</small>
                            </div>
                            <div class="my-3">
                              <small *ngIf="registerForm.get('email')?.hasError('email')">Email format is not valid</small>
                            </div>
                            <div class="my-3">
                              <small *ngIf="registerForm.get('email')?.hasError('isTaken')">Email is already token.</small>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="register-password" class="form-label">Password</label>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Enter password" formControlName="password">
                            <div class="my-3">
                              <small *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.hasError('required')">Password is a required field</small>
                            </div>
                        </div>
                        <div class="d-grid pt-3">
                            <button type="submit" class="btn btn-warning" [disabled]="!registerForm.valid">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>

