.navbar-config {
  padding-left: 200px;
  padding-right: 200px;
  background-color: #4a2d7d;
}

li a {
  color: #fff;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.navbar-nav .nav-link:hover {
  color: #a6a6a6;
}

.input-settings {
  width: 400px;
}

